;/******************************************************************************
;**                                                                           **
;**  SRC-MODULE: SweGenerator_Cal2_SWE3.cfg                                   **
;**                                                                           **
;**  Copyright (C) BMW Group 2008                                             **
;**                                                                           **
;**  TARGET    : SWE-Generator                                                **
;**                                                                           **
;**  PROJECT   : BMW Standard Core                                            **
;**                                                                           **
;**  AUTHOR    : EB Automotive                                                **
;**                                                                           **
;**  PURPOSE   : SWE-Generator configuration file for application SWE3        **
;**                                                                           **
;**  REMARKS   : ---                                                          **
;**                                                                           **
;**  PLATFORM DEPENDENT [yes/no]: yes                                         **
;**                                                                           **
;**  TO BE CHANGED BY USER [yes/no]: yes                                      **
;**                                                                           **
;******************************************************************************/

;/******************************************************************************
;**                      Author Identity                                      **
;*******************************************************************************
;**                                                                           **
;** Initials     Name                       Company                           **
;** --------     -------------------------  --------------------------------- **
;** hauf         Andreas Hauf               EB Automotive                     **
;** olgo         Oliver Gorisch             EB Automotive                     **
;**                                                                           **
;******************************************************************************/

;/******************************************************************************
;**                      Revision Control History                             **
;******************************************************************************/

;/*
; * V1.0.0: 03.09.2008, olgo: CR61431: Integration of CRC checks
; *         01.09.2008, hauf: Initial MemTools generated version
; */

; Nxtr Version Control:
; ---------------------------------------------------------------------------------------------------------------------
; Date         Rev      Author         Change Description                                                        SCR #
; -------   -------  --------  ---------------------------------------------------------------------------  ----------
; 10/05/16     EA3#3     ABS        Authentication and Signature changes - 2048bit key and SHA256 hash		 EA3#7986
;
; ***********************************************************************************************************************


; Open output file
OPEN SWFL

; 2 => 3 byte addresses, 3 => 4 byte addresses
SET_SREC_FORMAT 3 20

; Create additional block info in output file
CREATE_DATA_BLOCK_INFOS

; Set SGBM identifier
SET_IDENTIFIER %2

; Set SWEDevelopmentInfo
SET_DEVELOPMENT_INFO_FIELD TEXT SWE3SWEDEVINFO

; Load blocks
; SweSgbmIdSize     : 0x8   (8 byte)
; SweSignatureSize  : 0x104 (260 byte)
; SweDevInfoSize    : 0x100 (256 byte)
; SweFlashStatusSize: 0x30  (16 byte CRC + 16 byte SweValidFlag + 16 byte ProgDepFlag)
; SweFillPattern    : 0x1x

;Omit the SweValidFlag and ProgDepFlag (TBC) from the read and output blocks, because it
; will be written by the reprogramming routine when the SWE is validated.
READ_BLOCK_FROM_FILE %1 008000 00FDC3 12 SIGN
READ_BLOCK_FROM_FILE %1 00FDC4 00FDCB 12 SIGN	;SweSgbmId
READ_BLOCK_FROM_FILE %1 00FDCC 00FECF 12 NOSIGN ;SweSignature
READ_BLOCK_FROM_FILE %1 00FED0 00FFCF 12 SIGN	;SweDevInfo
READ_BLOCK_FROM_FILE %1 00FFD0 00FFDF 12 NOSIGN ;SweFlashStatus (CRC field only)

CREATE_OUTPUT_BLOCK   008000 00FFDF   NOCOMPRESS


; Sign data
SET_SIGNATURE_BYTE_ORDER MOTOROLA
SET_SIGNATURE_HASH_MODE  SHA256
SET_SIGNATURE_KEY_LENGTH 2048
SET_SIGNATURE_MODE       RSA

create_hash_file hash_swe3.xml

; Write description table to address of 'SweTable'
CREATE_DESCRIPTION_TABLE 00FDC4

; Calculate CRC checksum
CHECKSUM_TABLE_START
   CHECKSUM_TABLE_BLOCK 008000 00FDB7
   ; End of the block is not considered for CRC (checksums, SWE table, flash status)
CHECKSUM_TABLE_END

CHECKSUM_TABLE_TO_MEMORY CRC32 BYTE MOTOROLA 00FFD0 FFFFFFFF

; Calculate checksum
CALCULATE_CHECKSUM CRC32 BYTE

; Close output file
CLOSE
